body {
    font-family: Roboto;
    font-size: 12px;
    background-color: rgb(245, 245, 245)
}

.nav-content {
    display:flex;
    justify-content: space-around;
    padding-top: 20px; /* probando con padding */
}

footer {
    background-color: #ebebeb;
}


.footer-icon {
    text-align: center;
    font-size: 30px;
    color: midnightblue;
}

.footer-content{
    display: flex;
    padding-top: 20px; /* probando con padding */
}

.footer-enlacesSuscrpcion{
    float: right;
}

.footer-social-media{
    display: flex;
    justify-content: space-around;

}



@media (min-width: 479px){
    body {
        background-color: red;
    }
}

@media (min-width: 768px){
    body {
        background-color: blue;
    }
}
