<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dHBeerMarket</title>
    <link rel="icon" type="image/jpg" href="../images/favicon.jpg">
    <link href="../css/main.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <div class="nav-content">
                <div id="nav-logo">
                    <img src="../images/dhBeerMarketLogo.jpg" alt="prueba" width="100px">
                </div>
                <div id="nav-nacional">
                    <p>Nacional</p>
                </div>
                <div id="nav-importada">
                    <p>Importada</p>
                </div>
                <div class="nav-menu">
                    <div id="nav-buscarProducto">
                        <p>Buscar Producto</p>
                    </div>
                    <div id="nav-buscar">
                        <p>Buscar</p>
                    </div>
                        <div id="nav-carrito">
                        <p>Carrito</p>
                    </div>
                </div>
            </div>
            <div class="banner">
                <img src="../images/banner.jpg" alt="Banner">
            </div>
        </nav>


    </header>
    <main>


    </main>
    <footer>
        <div class="footer-content">
            <div id="footer-logo"><img src="../images/dhBeerMarketLogo.jpg" alt="dhBeerMarketLogo" width="100px"> </div>
            <div class="footer-text">
                <p>Home</p>
                <p>Sobre Nosotros</p>
                <p>Contacto</p><br>
            </div>
            <div class="footer-enlacesSuscrpcion">
                <p>Suscribite a nuestro newsletter</p>
                <div class="footer-suscripcion">
                    <p>Correo</p>
                    <p>Suscribirme</p>
                </div>
                <div class="footer-social-media">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-twitter"></i>
                </div>
            </div>
        </div><br>
        
        <p>Copyright © dhBeerMarket</p>
    </footer>

</body>

</html>
</body>

</html>