<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dHBeerMarket</title>
    <link rel="icon" type="image/png" href="../images/favicon01.png">
    <link href="../css/main.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <div class="nav-content">
                <div id="nav-logo">
                    <img src="../images/logoNav2.png" alt="prueba" width="150px">
                </div>
                <div id="nav-nacional">
                    <a class="nav-link" href=""><p>Nacionales</p></a>
                </div>
                <div id="nav-importada">
                    <a class="nav-link" href=""><p>Importadas</p></a>
                </div>
                <div id="nav-menu">
                    <form action="/form.result.php" method="POST">
                        <input type="search" name="busqueda" placeholder="Buscar producto">
                        <button type="submit">Buscar</button>
                    </form>
                </div>
                <div id="nav-carrito">                    
                    <a class="nav-link" href=""><i class="fa-solid fa-cart-shopping fa-beat-fade"style="--fa-beat-fade-opacity: 0.67; --fa-beat-fade-scale: 1.075;" ></i></a>
                </div>
            </div>
        </nav>
    </header>
    
    <div class="nav-banner">
        <img id="banner-img" src="../images/banner02.jpg" alt="Banner de Cervezas">
        <!-- <div class="banner-text">
            <div class="banner-text1">cold,</div>
            <div class="banner-text2">smooth</div>
            <div class="banner-text3">& tasty.</div>
        </div> -->
    </div>
    

    <main>
        <div class="articulos-nacionales">
            <h1 class="nacionales">Cervezas Nacionales</h1>
            <div class="productos-nacionales">
                <article>
                    <img class="articulo" src="" alt="">
                    <p class="articulo-texto1">$380</p>
                    <p class="articulo-texto2">Cerveza Bierhaus IPA superstar</p>
                    <p class="articulo-texto3">Lata 473ml</p>
                    <p class="articulo-texto4">IPA / DORADO / 5.7% ALC</p>
                </article>
                <article>
                    <img class="articulo" src="" alt="">
                    <p class="articulo-texto1">$380</p>
                    <p class="articulo-texto2">Cerveza Bierhaus IPA superstar</p>
                    <p class="articulo-texto3">Lata 473ml</p>
                    <p class="articulo-texto4">IPA / DORADO / 5.7% ALC</p>
                </article>
                <article>
                    <img class="articulo" src="" alt="">
                    <p class="articulo-texto1">$380</p>
                    <p class="articulo-texto2">Cerveza Bierhaus IPA superstar</p>
                    <p class="articulo-texto3">Lata 473ml</p>
                    <p class="articulo-texto4">IPA / DORADO / 5.7% ALC</p>
                </article>
                <article>
                    <img class="articulo" src="" alt="">
                    <p class="articulo-texto1">$380</p>
                    <p class="articulo-texto2">Cerveza Bierhaus IPA superstar</p>
                    <p class="articulo-texto3">Lata 473ml</p>
                    <p class="articulo-texto4">IPA / DORADO / 5.7% ALC</p>
                </article>
            </div>
        </div>
        <br>
        <div class="articulos-importados">
            <h1 class="importados">Cervezas Importadas</h1>
            <div class="productos-importados">
                <article>
                    <img class="articulo" src="" alt="">
                    <p class="articulo-texto1">$380</p>
                    <p class="articulo-texto2">Cerveza Bierhaus IPA superstar</p>
                    <p class="articulo-texto3">Lata 473ml</p>
                    <p class="articulo-texto4">IPA / DORADO / 5.7% ALC</p>
                </article>
                <article>
                    <img class="articulo" src="" alt="">
                    <p class="articulo-texto1">$380</p>
                    <p class="articulo-texto2">Cerveza Bierhaus IPA superstar</p>
                    <p class="articulo-texto3">Lata 473ml</p>
                    <p class="articulo-texto4">IPA / DORADO / 5.7% ALC</p>
                </article>
                <article>
                    <img class="articulo" src="" alt="">
                    <p class="articulo-texto1">$380</p>
                    <p class="articulo-texto2">Cerveza Bierhaus IPA superstar</p>
                    <p class="articulo-texto3">Lata 473ml</p>
                    <p class="articulo-texto4">IPA / DORADO / 5.7% ALC</p>
                </article>
                <article>
                    <img class="articulo" src="" alt="">
                    <p class="articulo-texto1">$380</p>
                    <p class="articulo-texto2">Cerveza Bierhaus IPA superstar</p>
                    <p class="articulo-texto3">Lata 473ml</p>
                    <p class="articulo-texto4">IPA / DORADO / 5.7% ALC</p>
                </article>
            </div>        
        </div>
        <br>
    </main>

    <footer>
        <div class="footer-content">
            <div id="footer-logo"><img src="../images/logoFooter.png" alt="dhBeerMarketLogo" width="150px"> </div>
            <div class="footer-text">
                <a class="footer-link" href="/"><p>Home</p></a>
                <a class="footer-link" href=""><p>Sobre Nosotros</p></a>
                <a class="footer-link" href=""><p>Contacto</p></a><br>
            </div>
            <div class="footer-enlacesSuscrpcion">
                <p>Suscribite a nuestro newsletter</p>
                <div class="footer-suscripcion">
                    <form action="/register" method="POST">
                        <label for="email">Email: </label>
                        <input type="email" name="email" id="email" placeholder="Correo">
                        <button type="submit">Suscribirme</button>
                    </form>
                </div><br>
                <div class="footer-social-media">
                    <a class="footer-link" href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                    <a class="footer-link" href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
                    <a class="footer-link" href="https://www.twitter.com"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </div>
        </div><br>
        
        <p>Copyright © dhBeerMarket</p>
    </footer>
</body>
</html>