
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dHBeerMarket</title>
    <link rel="icon" type="image/png" href="../images/favicon01.png">
    <link href="../css/main.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <div class="nav-content">
                <div id="nav-logo">
                    <img src="../images/logoNav2.png" alt="prueba" width="150px">
                </div>
                <div id="nav-nacional">
                    <a class="nav-link" href=""><p>Nacionales</p></a>
                </div>
                <div id="nav-importada">
                    <a class="nav-link" href=""><p>Importadas</p></a>
                </div>
                <div id="nav-menu">
                    <form action="/form.result.php" method="POST">
                        <input type="search" name="busqueda" placeholder="Buscar producto">
                        <button type="submit">Buscar</button>
                    </form>
                </div>
                <div id="nav-carrito">                    
                    <a class="nav-linkcarrito" href=""><i class="fa-solid fa-cart-shopping fa-beat-fade"style="--fa-beat-fade-opacity: 0.67; --fa-beat-fade-scale: 1.075;" ></i></a>
                </div>
            </div>
        </nav>
    </header>
    <br>
    <br>
    <main>
        <div id="container">
            <section class="cuadro-login">
                <h1 class="subtitulos-h1">Iniciar Sesión</h1>
                <h3 class="subtitulos-h3">Ingresá tu usuario y contraseña</h3>
                <form>
                    <!-- Username -->
                    <input class="borde-login" type="name" placeholder="Email"> <br><br>
                    <!-- Password -->
                    <input class="borde-login" type="password" placeholder="Password"><br><br>
                    <div id="lower">
                        <!-- Submit Button -->
                        <input class="boton-ingreso" type="submit" value="Ingresar">
                        <p><a class="boton-olvidaste" href="#">¿Olvidaste tu contraseña?</a>
                    </div>
                </form>
            </section>
            <br> <br>
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <div id="footer-logo"><img src="../images/logoFooter.png" alt="dhBeerMarketLogo" width="150px"> </div>
            <div class="footer-text">
                <a class="footer-link" href="/"><p>Home</p></a>
                <a class="footer-link" href=""><p>Sobre Nosotros</p></a>
                <a class="footer-link" href=""><p>Contacto</p></a><br>
            </div>
            <div class="footer-enlacesSuscrpcion">
                <p>Suscribite a nuestro newsletter</p>
                <div class="footer-suscripcion">
                    <form action="/register" method="POST">
                        <label for="email">Email: </label>
                        <input type="email" name="email" id="email" placeholder="Correo">
                        <button type="submit">Suscribirme</button>
                    </form>
                </div><br>
                <div class="footer-social-media">
                    <a class="footer-link" href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                    <a class="footer-link" href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
                    <a class="footer-link" href="https://www.twitter.com"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </div>
        </div><br>
        <p>Copyright © dhBeerMarket</p>
    </footer>
</body>
</html>